@import "../../../sass/main.scss";
.Modal {
  position: fixed;
  z-index: 4000;
  background-color: #ffffff;
  display: inline-block;
  width: 50%;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba($color-black, 0.2);
  padding: 4rem;
  top: 15%;
  left: 25%;

  transition: all 0.4s ease-out;

  @include respond(phone) {
    width: 90%;
    top: 10%;
    left: 5%;
  }
}

// @media (min-width: 600px) {
//   .Modal {
//     width: 500px;
//     left: calc(50% - 250px);
//   }
// }
