.miniHeader {
  width: 100%;
  background-image: linear-gradient(
      to bottom right,
      rgba($color-primary, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url("../../assets/images/wholeMama.jpeg");
  background-size: cover;
  background-position: center;
  padding: 2rem;

  &__buttonContainer {
    display: inline;
  }

  &__header {
    font-size: 1.8rem;
    font-weight: 400;
    display: inline-block;
    color: $color-white;
    margin-left: 2rem;
    letter-spacing: 1rem;
  }
}
