@import "../../sass/main.scss";
// @import "../../sass/abstracts/variables";

.Small {
  position: fixed;
  bottom: 2%;
  right: 3%;
  display: block;
  // transform: translate(-50%, -10%);
  z-index: 2000;
}

.SmallOther {
  position: fixed;
  bottom: 2%;
  left: 4%;
  // transform: translate(-50%, -10%);
  z-index: 2000;
}

.bannerTop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1.7rem;
  color: white;
  z-index: 6000;
  cursor: pointer;
  background-color: $color-primary;
  &__text {
    color: white;
    transition: all 0.2s;
    display: inline-block;
  }

  &:hover {
    background-color: #ff0100;
  }

  &:hover &__text {
    animation-name: moveInLeft;
    animation-duration: 0.5s;
  }
}
